@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #081618;
  background-color: #b6e2ff49;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

::selection {
  color: white;
  background-color: #4da4e0;
}

.main_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4bb6c6;
  border-radius: 10px;
  cursor: pointer;
}

.text-hover {
  @apply hover:text-primary  transition-all ease-in-out duration-200;
}

.hero-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.page-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
}

.button {
  @apply border-[2px] border-primary flex items-center text-primary gap-2 rounded-full w-fit px-4 py-2 font-semibold relative overflow-hidden transition-all duration-200 ease-in-out;
}

.button:hover {
  color: white;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  transition: all 0.4s ease;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #223ef8;
  z-index: -1;
  border-radius: 100%;
}

.button:hover::before {
  bottom: 0;
  border-radius: 0;
}

.button svg {
  transition: all 0.2s ease-in-out;
}

.button:hover svg {
  transform: rotate(45deg);
}

.why-number {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  opacity: 0.2;
  color: #2a97e0;
}

.section-heading {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px;
}

.section-subheading {
  font-weight: 700;
  color: #03548a;
  font-size: 2rem;
  text-transform: capitalize;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.swiper-wrapper {
  border-radius: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* marquee  */

.marquee-wrapper {
  width: 90%;
  max-width: 1280px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 200px;
  height: 100px;
  position: absolute;
  left: max(calc(200px * 7), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 7 * (7 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 7 * (7 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 7 * (7 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 7 * (7 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 7 * (7 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 7 * (7 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 7 * (7 - 7) * -1);
}

.footer-ul > li {
  transition: all 0.2s ease-in-out;
}

.footer-ul > li:hover:not(:first-child) {
  color: rgba(255, 255, 255, 0.612);
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #03548a;
  box-shadow: 0 0 0 2px #03548a;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #03548a;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #03548a;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #fff;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #fff;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #03548a;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.footer-icon-wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
}

.footer-icon-wrapper .footer-icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-icon-wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-icon-wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-icon-wrapper .footer-icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.footer-icon-wrapper .footer-icon:hover span,
.footer-icon-wrapper .footer-icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.footer-icon-wrapper .facebook:hover,
.footer-icon-wrapper .facebook:hover .tooltip,
.footer-icon-wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.footer-icon-wrapper .twitter:hover,
.footer-icon-wrapper .twitter:hover .tooltip,
.footer-icon-wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.footer-icon-wrapper .instagram:hover,
.footer-icon-wrapper .instagram:hover .tooltip,
.footer-icon-wrapper .instagram:hover .tooltip::before {
  background: #fd1d1d;
  color: #fff;
}
